<div class="container">
  <div class="row">
    <h2 class="text-center text-primary">Iniciar Sesion</h2>
    <form class="border border-3 rounded border-primary p-4" #formLogin="ngForm">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" [(ngModel)]="user.email" (change)="verCorreo(email)" name="email" #email="ngModel" required minlength="3" pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$">
        <div *ngIf="email.invalid && (email.dirty || email.touched)">
          <div>
            <p class="text-danger" *ngIf="user.email == ''">valor requerido</p>
            <p class="text-danger" *ngIf="email.errors && user.email != ''">El formato es incorrecto</p>
          </div>
        </div>
        <div *ngIf="!email.invalid">
          <p class="text-success">se ve bien!</p>
        </div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="text" class="form-control" id="exampleInputPassword1" [(ngModel)]="user.password" name="password" #password="ngModel" minlength="6" pattern="^[a-zA-Z0-9]+$" required>
        <div *ngIf="password.invalid && (password.dirty || password.touched)">
          <div>
            <p class="text-danger" *ngIf="user.password == ''">valor requerido</p>
            <p class="text-danger" *ngIf="password.errors && user.password != ''">El formato es incorrecto, solo se aceptan letras y numeros y minimo 6 caracteres</p>
          </div>
        </div>
        <div *ngIf="!password.invalid && (password.dirty || password.touched)">
          <p class="text-success">se ve bien!</p>
        </div>
      </div>
      <button [disabled]="!formLogin.form.valid" type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
