<app-header></app-header>
<div class="container">
  <div class="row">
    <h2 class="text-center text-primary">Iniciar Sesion</h2>
    <form class="border border-3 rounded border-primary p-4">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Username</label>
        <input type="text" class="form-control" id="exampleInputEmail1" [(ngModel)]="loginUser.username" name="username">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" [(ngModel)]="loginUser.password" name="password">
      </div>
      <button type="button" (click)="validarUsuario()" class="btn btn-primary">Submit</button>
    </form>

  </div>
</div>
<!-- <app-hijo-login [correoHijo]="user.email" (cambiarDatoDesdeHijo)="user.email = $event"></app-hijo-login> -->
